.demobar

{

    height: 90px;

    line-height: 90px;

}

.demobar .fleft

{

    float: left;

    margin-left: 10px;

}

.demobar .fright

{

    float: right;

    margin-top: 14px;

    margin-right: 10px;

}

#demo-side-bar
{
    position:absolute;
    top:90px;
    display:none;
}