body {
  margin:0px;
  background-image:url('../../images/home/bg.png');
  background-position:center top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:60px;
  color:#1E1E1E;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:60px;
}
#u1 {
  position:absolute;
  left:2px;
  top:22px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:90px;
  top:10px;
  width:170px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#A83600;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:50px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:30px;
  top:5px;
  width:50px;
  height:50px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:360px;
  top:15px;
  width:100px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:520px;
  top:15px;
  width:172px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:40px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:740px;
  top:15px;
  width:100px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1160px;
  top:25px;
  width:100px;
  height:35px;
  font-size:24px;
  color:#CCCCCC;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1260px;
  top:25px;
  width:100px;
  height:35px;
  font-size:24px;
  color:#CCCCCC;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:58px;
  top:91px;
  width:1250px;
  height:619px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:619px;
}
#u17 {
  position:absolute;
  left:2px;
  top:302px;
  width:1246px;
  visibility:hidden;
  word-wrap:break-word;
}
