#pane{
	-fx-border-color: #d3d3d3;
	-fx-background-color:#ffffff;
	-fx-border-width:1;
}

#pane:hover{
	-fx-border-color: #8fbc8f;
	-fx-background-color:#f8f8ff;
}

#name{
	-fx-font-size:1.5em;
	-fx-text-fill:#4169e1;
	-fx-font-weight:bolder;
}

#def_text{
	
	-fx-text-fill:rgb(80,80,80);
}

#check{
}

