.header{
    position: relative;
    z-index: 1000;
    height: 70px;
    background-position: 0 -80px;
    background-color: #22313F;
    background-repeat: repeat-x;
}
.header .wrap{
    width: 980px;
    margin: 0 auto;
}



#navigation{
    float: right;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
