.news-grids :hover{
    background: lightgoldenrodyellow;
}
.description{
    word-break:break-all;
    color: #777;
    font-size: 13px;
    padding: 0;
}
.ownerName{
    padding: 0;
    font-size: 15px;
}