#displayshelf {

    -fx-background-color: linear-gradient(to bottom, white 60, #FFFFFF 60.1%, white 100%);

}

 

#display-scrollbar {

    -fx-base: #202020; 

    -fx-background: rgba(255,255,255,0); 

    -fx-border-color: rgba(255,255,255,0);

}


#display-scrollbar .track{
	-fx-background-color: rgba(255,255,255,0);
}

 

#display-scrollbar .thumb {

    -fx-background-color: #707576;

}