#box{
	-fx-background-image:url("../bar.png");
	-fx-fill-height:true;
	-fx-alignment:top-right;
	-fx-background-color:#ffffff;
}

#exit{
	-fx-background-image:url("../button/exit.png");
	-fx-background-color:transparent;
}

#exit:hover{
	-fx-background-image:url("../button/exit1.png");
	-fx-background-color:transparent;
}

.specialButton{	
	-fx-background-image:url("../imageOut.png");
	-fx-background-color:transparent;
	-fx-border-radius:0;
	-fx-border-width:0;
	-fx-border-color:transparent;
}
.specialButton:hover{
	-fx-background-image:url("../imageIn.png");
	-fx-background-color:transparent;
	-fx-border-radius:0;
	-fx-border-width:0;
	-fx-border-color:transparent;
}

.specialButton:pressed{
	-fx-background-image:url("../imageIn.png");
	-fx-background-color:transparent;
	-fx-border-radius:0;
	-fx-border-width:0;
	-fx-border-color:transparent;
}

