#leftbar{
	-fx-background-image:url("../leftbar.png");
	-fx-background-repeat:repeat;
	-fx-fill-height:true;
	-fx-background-color:#000000;
}

.button:hover{
	-fx-text-fill:#000000;
	-fx-font-size:20;
	-fx-background-color:#ffffff;
    -fx-border-radius: 5;
    -fx-border-color:#48d1cc;
    -fx-font-style:oblique;
}

.button:pressed{
	-fx-text-fill:#000000;
	-fx-font-size:20;
	-fx-background-color:#f0ffff;
    -fx-border-radius: 5;
    -fx-border-color:#90ee90;
    -fx-font-style:oblique;
}

.button{
	-fx-text-fill:#ffffff;
	-fx-font-size:20;
	-fx-background-color:#393f4f;
    -fx-border-radius: 5;
    -fx-border-color:#48d1cc;
    -fx-font-style:oblique;
}

#nav_home{
	-fx-background-image:url("../button/home.png");
	-fx-background-color:transparent;
	-fx-border-radius: 0;
    -fx-border-color:transparent;
}

#nav_home:pressed{
	-fx-background-image:url("../button/home1.png");
	-fx-background-color:transparent;
	-fx-border-radius: 0;
    -fx-border-color:transparent;
}

#nav_home:hover{
	-fx-background-image:url("../button/home1.png");
	-fx-background-color:transparent;
	-fx-border-radius: 0;
    -fx-border-color:transparent;
}

#nav_user{
	-fx-background-image:url("../button/user.png");
	-fx-background-color:transparent;
	-fx-border-radius: 0;
    -fx-border-color:transparent;
}



#nav_user:hover{
	-fx-background-image:url("../button/user1.png");
	-fx-background-color:transparent;
	-fx-border-radius: 0;
    -fx-border-color:transparent;
}

#nav_user:pressed{
	-fx-background-image:url("../button/user1.png");
	-fx-background-color:transparent;
	-fx-border-radius: 0;
    -fx-border-color:transparent;
}

#nav_repo{
	-fx-background-image:url("../button/repo.png");
	-fx-background-color:transparent;
	-fx-border-radius: 0;
    -fx-border-color:transparent;
}



#nav_repo:hover{
	-fx-background-image:url("../button/repo1.png");
	-fx-background-color:transparent;
	-fx-border-radius: 0;
    -fx-border-color:transparent;
}

#nav_repo:pressed{
	-fx-background-image:url("../button/repo1.png");
	-fx-background-color:transparent;
	-fx-border-radius: 0;
    -fx-border-color:transparent;
}



.sub_button{
	-fx-text-fill:#ffffff;
	-fx-font-size:14;
	-fx-background-color:#393f4f;
    -fx-font-style:normal;
}

.sub_button:hover{
	-fx-text-fill:#000000;
	-fx-font-size:14;
	-fx-background-color:#ffffff;
    -fx-font-style:normal;
}
.sub_button:pressed{
	-fx-text-fill:#000000;
	-fx-font-size:14;
	-fx-background-color:#f0ffff;
    -fx-font-style:normal;
}

#userInfo{
	-fx-background-image:url("../button/userInfo.png");
	-fx-background-color:transparent;
	-fx-border-radius: 0;
    -fx-border-color:transparent;
}



#userInfo:hover{
	-fx-background-image:url("../button/userInfo1.png");
	-fx-background-color:transparent;
	-fx-border-radius: 0;
    -fx-border-color:transparent;
}

#userInfo:pressed{
	-fx-background-image:url("../button/userInfo1.png");
	-fx-background-color:transparent;
	-fx-border-radius: 0;
    -fx-border-color:transparent;
}

#userSta{
	-fx-background-image:url("../button/userSta.png");
	-fx-background-color:transparent;
	-fx-border-radius: 0;
    -fx-border-color:transparent;
}



#userSta:hover{
	-fx-background-image:url("../button/userSta1.png");
	-fx-background-color:transparent;
	-fx-border-radius: 0;
    -fx-border-color:transparent;
}

#userSta:pressed{
	-fx-background-image:url("../button/userSta1.png");
	-fx-background-color:transparent;
	-fx-border-radius: 0;
    -fx-border-color:transparent;
}

#repoInfo{
	-fx-background-image:url("../button/repoInfo.png");
	-fx-background-color:transparent;
	-fx-border-radius: 0;
    -fx-border-color:transparent;
}



#repoInfo:hover{
	-fx-background-image:url("../button/repoInfo1.png");
	-fx-background-color:transparent;
	-fx-border-radius: 0;
    -fx-border-color:transparent;
}

#repoInfo:pressed{
	-fx-background-image:url("../button/repoInfo1.png");
	-fx-background-color:transparent;
	-fx-border-radius: 0;
    -fx-border-color:transparent;
}


#repoSta{
	-fx-background-image:url("../button/repoSta.png");
	-fx-background-color:transparent;
	-fx-border-radius: 0;
    -fx-border-color:transparent;
}



#repoSta:hover{
	-fx-background-image:url("../button/repoSta1.png");
	-fx-background-color:transparent;
	-fx-border-radius: 0;
    -fx-border-color:transparent;
}

#repoSta:pressed{
	-fx-background-image:url("../button/repoSta1.png");
	-fx-background-color:transparent;
	-fx-border-radius: 0;
    -fx-border-color:transparent;
}

#top_label{
	-fx-background-image:url("../topbar/middle.png");
	-fx-text-fill:#ffffff;
}

#left_label{
	-fx-background-image:url("../topbar/middle.png");
	-fx-text-fill:#ffffff;
}

#back{
	-fx-background-image:url("../topbar/back.png");
	-fx-background-color:transparent;
    -fx-border-radius: 2;
    -fx-border-color:transparent;
}

#back:hover{
	-fx-background-image:url("../topbar/back_1.png");
}

#forward{
	-fx-background-image:url("../topbar/front.png");
	-fx-background-color:transparent;
    -fx-border-radius: 2;
    -fx-border-color:transparent;
}

#forward:hover{
	-fx-background-image:url("../topbar/front_1.png");
}

#setting{
	-fx-background-image:url("../topbar/set.png");
	-fx-background-color:transparent;
    -fx-border-radius: 2;
    -fx-border-color:transparent;
}

#setting:hover{
	-fx-background-image:url("../topbar/set1.png");
}