#leftbar{
	-fx-background-image:url("../leftbar.png");
	-fx-background-repeat:repeat;
	-fx-fill-height:true;
	-fx-background-color:#000000;
}

.button:hover{
	-fx-text-fill:#000000;
	-fx-font-size:20;
	-fx-background-color:#ffffff;
    -fx-border-radius: 5;
    -fx-border-color:#48d1cc;
    -fx-font-style:oblique;
}

.button:pressed{
	-fx-text-fill:#000000;
	-fx-font-size:20;
	-fx-background-color:#f0ffff;
    -fx-border-radius: 5;
    -fx-border-color:#90ee90;
    -fx-font-style:oblique;
}

.button{
	-fx-text-fill:#ffffff;
	-fx-font-size:20;
	-fx-background-color:#393f4f;
    -fx-border-radius: 5;
    -fx-border-color:#48d1cc;
    -fx-font-style:oblique;
}

.sub_button{
	-fx-text-fill:#ffffff;
	-fx-font-size:14;
	-fx-background-color:#393f4f;
    -fx-font-style:normal;
}

.sub_button:hover{
	-fx-text-fill:#000000;
	-fx-font-size:14;
	-fx-background-color:#ffffff;
    -fx-font-style:normal;
}
.sub_button:pressed{
	-fx-text-fill:#000000;
	-fx-font-size:14;
	-fx-background-color:#f0ffff;
    -fx-font-style:normal;
}

#top_label{
	-fx-background-image:url("../topbar/middle.png");
	-fx-text-fill:#ffffff;
}

#back{
	-fx-background-image:url("../topbar/back.png");
	-fx-background-color:transparent;
    -fx-border-radius: 2;
    -fx-border-color:transparent;
}

#back:hover{
	-fx-background-image:url("../topbar/back_1.png");
}

#forward{
	-fx-background-image:url("../topbar/front.png");
	-fx-background-color:transparent;
    -fx-border-radius: 2;
    -fx-border-color:transparent;
}

#forward:hover{
	-fx-background-image:url("../topbar/front_1.png");
}

#setting{
	-fx-background-image:url("../topbar/set.png");
	-fx-background-color:transparent;
    -fx-border-radius: 2;
    -fx-border-color:transparent;
}

#setting:hover{
	-fx-background-image:url("../topbar/set1.png");
}