#leftbar{
	-fx-background-image:url("../leftbar.png");
	-fx-background-repeat:repeat;
	-fx-fill-height:true;
	-fx-background-color:#000000;
}

.button:hover{
	-fx-text-fill:#000000;
	-fx-font-size:20;
	-fx-background-color:#ffffff;
    -fx-border-radius: 5;
    -fx-border-color:#48d1cc;
    -fx-font-style:oblique;
}

.button:pressed{
	-fx-text-fill:#000000;
	-fx-font-size:20;
	-fx-background-color:#f0ffff;
    -fx-border-radius: 5;
    -fx-border-color:#90ee90;
    -fx-font-style:oblique;
}

.button{
	-fx-text-fill:#ffffff;
	-fx-font-size:20;
	-fx-background-color:#393f4f;
    -fx-border-radius: 5;
    -fx-border-color:#48d1cc;
    -fx-font-style:oblique;
}

.sub_button{
	-fx-text-fill:#ffffff;
	-fx-font-size:14;
	-fx-background-color:#393f4f;
    -fx-font-style:normal;
}

.sub_button:hover{
	-fx-text-fill:#000000;
	-fx-font-size:14;
	-fx-background-color:#ffffff;
    -fx-font-style:normal;
}
.sub_button:pressed{
	-fx-text-fill:#000000;
	-fx-font-size:14;
	-fx-background-color:#f0ffff;
    -fx-font-style:normal;
}