<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://115.159.161.96:3306/codefairy_gitmining</property>
        <property name="javax.persistence.validation.mode">none</property>
        <property name="connection.username">pass</property>
        <property name="connection.password">pass</property>
        <property name="connection.pool_size">1</property>
        <property name="dialect">org.hibernate.dialect.SQLServerDialect</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <!--<mapping class="com.nju.software.person.darxan.model.TblRegisterEntity"/>-->
        <!--<mapping resource="com/nju/software/person/darxan/model/TblRegisterEntity.hbm.xml"/>-->

        <!--  <property name="format_sql">true</property> -->
        <!-- Drop and re-create the database schema on startup -->
        <!--<property name="hbm2ddl.auto">create</property>-->

    </session-factory>
</hibernate-configuration>



        <!--
        hibernate.dialect：设置数据库方言，我使用的MySQL数据库就用MySQL数据库的方言。
        connection.pool_size：设置数据库连接池大小。
        current_session_context_class：与SessionFactory.getCurrentSession()相关，如果得到一个Session是调用这个方法(并非openSession())那么会使用这个属性。
        show_sql：配置是否显示Hibernate操作数据库的SQL，调试时非常有用。
        hibernate.format_sql：与show_sql配合使用，用于格式化打印的SQL。
        hibernate.cache.use_second_level_cache：是否使用Hibernate的二级缓存，关于二级缓存的使用后面的章节会讲到。
        <mapping resource="model/Teacher.hbm.xml"/>：设置实体类与数据库表的映射文件，关于这个映射文件的作用和内容会在下面讲到。
        -->