html
{
    width: 40em;
    box-sizing: border-box;
}

.graph-desc li {
    float: left;
    width: 80px;
    text-align: center;
    color: grey;
}

/*section*/
/*{*/
    /*font-size: 16px;*/
    /*font-family: 'Adobe Hebrew', serif;*/
    /*width: 40em;*/
/*}*/

/*li*/
/*{*/
    /*font-family: 'Adobe Caslon Pro', serif;*/
    /*margin: 10px 10px 10px 0px;*/
/*}*/

/*h1*/
/*{*/
    /*font-size: 25px;*/
/*}*/

/*.prompt*/
/*{*/
    /*padding-left: 40px;*/
    /*color: #a8a8a8;*/
/*}*/

/*.positive-index {*/
    /*padding-left: 20px;*/
    /*font-size: 20px;*/
/*}*/