.popup{
    position:absolute;
    padding: .5em;
    border-radius:13px;
    /*left:50vw;*/
    /*margin-left:35px;*/
    /*top:50vh;*/
    /*margin-top:-210px;*/
    /*opacity:0;*/
    transition:all 1s;
    -webkit-transition:all 1s;
}


.popup div
{
    width:250px;
    font-size:15px;
    padding:30px;
    background-color: aquamarine;
    color:blue;
    text-align:center;
}

.loader{
    margin: 0 0 2em;
    height: 100px;
    width: 20%;
    text-align: center;
    padding: 1em;
    margin: 0 auto 1em;
    display: inline-block;
    vertical-align: top;
}

/*.repohead-details-container ul li:nth-child(1):hover ~#watch_tip*/
/*{*/
    /*margin-left:45px;*/
    /*margin-top:-220px;*/
    /*opacity:1;*/
/*}*/

/*.repohead-details-container ul li:nth-child(2):hover ~#star_tip*/
/*{*/
    /*margin-left:45px;*/
    /*margin-top:-220px;*/
    /*opacity:1;*/
/*}*/

/*.repohead-details-container ul li:nth-child(3):hover ~#fork_tip*/
/*{*/
    /*margin-left:45px;*/
    /*margin-top:-220px;*/
    /*opacity:1;*/
/*}*/