html
{
    background-color: #f3ffe6;
}

section
{
    font-size: 16px;
    font-family: 'Adobe Hebrew', serif;
    width: 40em;
}

li
{
    font-family: 'Adobe Caslon Pro', serif;
    margin: 10px 10px 10px 0px;
}

h1
{
    font-size: 25px;
}

.prompt
{
    padding-left: 40px;
    color: #a8a8a8;
}