.pagehead-actions > li {
    position: relative;
}

.popup{
    position:absolute;
    padding: .5em;
    background-color: aquamarine;
    border-radius:13px;
    top: 2em;
    left: -5em;
    /*left:50vw;*/
    /*margin-left:35px;*/
    /*top:50vh;*/
    /*margin-top:-210px;*/
    opacity:0;
    transition:all 1s;
    -webkit-transition:all 1s;
}

.pagehead-actions>li:nth-child(1)>form:hover ~.popup#watch_tip {
    opacity: 1;
}

.pagehead-actions>li:nth-child(2)>.starring-container:hover ~.popup#star_tip {
    opacity: 1;
}

.pagehead-actions>li:nth-child(3)>form:hover ~.popup#fork_tip {
    opacity: 1;
}

.popup div
{
    width:180px;
    font-size:40px;
    padding:30px;
    color:blue;
    text-align:center;
}

.loader{
    margin: 0 0 2em;
    height: 100px;
    width: 20%;
    text-align: center;
    padding: 1em;
    margin: 0 auto 1em;
    display: inline-block;
    vertical-align: top;
}

