.pagehead-actions > li {
    position: relative;
}

.popup{
    font-family: 'Adobe Garamond Pro', serif;
    position:absolute;
    padding: .5em;
    background-color: #e6f2ff;
    border-radius:13px;
    top: 4em;
    left: -12em;
    opacity:0;
    transition:all .5s;
    -webkit-transition:all .5s;
}

.pagehead-actions>li:nth-child(1)>form:hover ~.popup#watch_tip {
    opacity: 1;
}

.pagehead-actions>li:nth-child(2)>.starring-container:hover ~.popup#star_tip {
    opacity: 1;
}

.pagehead-actions>li:nth-child(3)>form:hover ~.popup#fork_tip {
    opacity: 1;
}

.pagehead-actions>li:nth-child(3)>a:hover ~.popup#fork_tip {
    opacity: 1;
}

.popup>.tip_prompt
{
    width:330px;
    font-size:30px;
    /*padding:10px;*/
    color:#4d88ff;
    text-align:center;
}

.popup>.loading_area
{
    font-size: 50px;
    color: coral;
    text-align: center;
}

.loader{
    margin: 0 0 1em;
    height: 100px;
    color: coral;
    width: 20%;
    text-align: center;
    padding: 1em;
    display: inline-block;
    vertical-align: top;
}

